<div class="question title">{{question}}</div>
<div class="answers">
  <div data-index="1" class="answer-button answer-1 default-button topcoat-button--cta">{{answer1}}</div>
  <div data-index="2" class="answer-button answer-2 default-button topcoat-button--cta">{{answer2}}</div>
  <div data-index="3" class="answer-button answer-3 default-button topcoat-button--cta">{{answer3}}</div>
  <div data-index="4" class="answer-button answer-4 default-button topcoat-button--cta">{{answer4}}</div>
</div>
<div class="correct title">Correct</div>
<div class="wrong title">Wrong</div>